* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #fff7e6;
  padding-bottom: 0px;
}

.header {
  background: #944b3e;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

.logo img{
  width: 100px;
  max-width: 100%;
  border-radius:40px
  ;
} 

/* HERO SECTION SLIDER */
.hero {
  position: relative;
  padding: 12px;
  background: #0f0f14;
}

.hero-slider {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.hero-slide.active {
  opacity: 1;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);
}

/* Content */
.hero-content {
  position: absolute;
  inset: 0;
  color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content button {
  margin-top: 10px;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: gold;
  font-weight: 600;
}

/* Nav arrows */
.hero-nav {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background: #4CAF50;
  color: #fff;
  border: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.hero-nav.left { left: 16px; }
.hero-nav.right { right: 16px; }

/* Bottom dots (photo style) */
.hero-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #aaa;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
}

.dot.active {
  width: 16px;
  border-radius: 10px;
  background: #fff;
  opacity: 1;
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  flex-wrap: wrap;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  width: 200px;
  display: flex;
  flex: 1;
  justify-content:stretch;
}

.dropdown-btn {
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 12px;
  background: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.18);
  padding: 8px;
  display: none;
  z-index: 20;
}

.dropdown-content button {
  width: 100%;
  padding: 9px 12px;
  font-size: 13px;
  border: none;
  background: #f9f9f9;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 6px;
  transition: transform 0.2s, box-shadow 0.2s;

}

.dropdown-content button:hover {
  background: #ececec;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.12)
}
.category-dropdown {
  flex: 1;
}

/* ROW */
.filter-row {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
}

/* VEG NON-VEG */
.veg-nonveg-all {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.veg-btn,
.nonveg-btn,.all-btn{
  padding: 9px 16px;
  border-radius: 20px;
  border: none;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  
}
.veg-btn {
  background: #e8f5e9;
  color: #2e7d32;
}

.nonveg-btn {
  background: #fdecea;
  color: #c62828;
}
.all-btn {
  background: #cbdbef;
  color: #1e78c1;
}
.veg-btn:hover,
.nonveg-btn:hover{
  background: #ececec;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.12)
}
.all-btn:hover {
  background: #ececec;
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.12)
}

/* CATEGORY PILLS */
.pill-container {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 8px;
}

.pill {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 12px;
  border: none;
  background-color: #fff7e6;
  cursor: pointer;
  transition: background 0.3s;
  width: 120px;
  height: 120px;
}

.pill.active {
  background-color: #ff4d4d;
  color: rgb(17, 16, 16);
}

.pill-label {
  font-size: 14px;
  margin-bottom: 6px;
}

.pill-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}
.pill:hover {
  background-color: #ffcccc;
  color: rgb(16, 16, 16);
}
/* MENU GRID */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  padding: 16px;  
}

.menu-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.menu-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.menu-info {
  padding: 10px;
}

.menu-info h4 {
  font-size: 15px;
}

.price {
  color: green;
  font-weight: bold;
  margin-top: 4px;
}

.footer {
  background: #cec1a8;
  padding: 20px 80px 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
  align-items: start;
}

.footer-col h4 {
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-col ul li {
  font-size: 12px;
  margin-bottom: 8px;
  color: #666;
  cursor: pointer;
}
.footer-col p {
  font-size: 12px;
  color: #666;
  margin-bottom: 6px;
}

.social-media {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}
.social {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
}
.fb { background-color: #3b5998; }
.yt { background-color: #ff0000; }
.ig { background-color: #ff0069; }
.social:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  color: #666;
}

.footer-bottom span {
  color: #e63946;
}

@media (max-width: 768px) {
  /* Tablet */
  .best-list img {
    width: 80%;
    max-width: 80%;
  }
.hero-slider {
    height: 240px;
    position: relative;
    overflow: hidden;
}
.hero-content h1 {
    font-size: 22px;
  }
.hero-content p {
    font-size: 15px;
  }

.hero-content {
    padding: 30px;
  }
.hero-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  }
.hero-nav {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

.hero-nav.left {
    left: 10px;
  }

.hero-nav.right {
    right: 10px;
  }

.pill-container {
    justify-content: center;
    gap: 10px;
  }

.dropdown-btn {
    font-size: 14px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

.menu-card img {
    height: 120px;
  }

.pill {
    width: 100px;          
    height: 100px;
    border-radius: 50%;   
    flex: 0 0 auto;       
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.pill {
    width: 70px;
    height: 90px;
    border-radius: 10px; 
  }
.pill-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 8px;
  }

.pill-label {
    font-size: 13px;
  }

.pill-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 368px) {
  /* Mobile */
.header {
    justify-content: center;
    text-align: center;
  }

.best-list img {
    width: 90%;
    max-width: 90%;
  }

.hero-nav {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

.hero-nav.left {
    left: 8px;
  }

.hero-nav.right {
    right: 8px;
  }
.dropdown-btn {
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
.filter-row {
    flex-wrap: wrap;
    gap: 4px;
    justify-content: stretch;
  }
.veg-nonveg {
    width: 100%;
    align-items:flex-end;
    
  }

.pill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 8px;
    gap: 7px;
  }

.pill {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pill-label {
  font-size: 10px;
  margin-top: 4px;
}

.pill-icon {
  width: 30px;
  height: 30px;
}

.menu-grid {
    grid-template-columns: 1fr 1fr; 
  }

.menu-card img {
    height: 100px;
  }

.footer {
    padding: 10px;
  }

.footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

.social-media {
    justify-content: center;
  }

}
